.mainIndex{
    @include fuente(200, 1.2rem);
    h5{
        @include fuente(600, 1.2rem);
    }
}

.nosotrosIndex{
    margin-top: 1rem;

    .card{
        border: none;
    }

    &__imagen{
        width: 35rem;
        height: auto;
    }

    &__card a{
        @include fuente(600, 1.5rem);
        color: black;
        padding: 0.2rem 2rem 0.2rem 2rem;
        background-color: map-get($paleta, terciario );
    }
}

.videoIndex{
    margin-top: 1rem;

    .card{
        background-color: map-get($paleta, secundario );
        border: none;
    }
}
